In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [36]:
file_path = 'data/v9-5_2024-10_Natl_MasterTreeSpeciesList.xlsx'

In [37]:
df_species = pd.read_excel(file_path)

In [38]:
df_species.head()

,FIA Field Guide version,Species (IOS)- Not valid on the Mainland,Not valid on P2/3 plots within a specific NFS Region,Woodland,FIA Code,Common Name,Genus,Species,Variety,Subspecies,...,SCIENTIFIC_NAME,Past NRS Tally,Past PNW Tally,Past RMRS Tally,Past SRS Tally,Historic Caribbean,Historic Pacific,Historic Urban,Historic P2,List Status
0,9.5,N,NaN,N,11,Pacific silver fir,Abies,amabilis,NaN,NaN,...,Abies amabilis,"R,U","PNWS,AK,U","R,U",U,N,N,N,Y,ACTIVE
1,9.5,N,NaN,N,12,balsam fir,Abies,balsamea,NaN,NaN,...,Abies balsamea,"R,U","PNWS,U","R,U","R,U",N,N,N,Y,ACTIVE
2,9.5,N,NaN,N,14,Santa Lucia or bristlecone fir,Abies,bracteata,NaN,NaN,...,Abies bracteata,"R,U","PNWS,U","R,U",U,N,N,N,Y,ACTIVE
3,9.5,N,NaN,N,15,white fir,Abies,concolor,NaN,NaN,...,Abies concolor,"R,U","PNWS,U","R,U","R,U",N,N,N,Y,ACTIVE
4,9.5,N,NaN,N,16,Fraser fir,Abies,fraseri,NaN,NaN,...,Abies fraseri,"R,U","PNWS,U","R,U","R,U",N,N,N,Y,ACTIVE

In [39]:
keep_cols = ['FIA Code', 'Common Name', 'Genus', 'Species', 'SCIENTIFIC_NAME', 'List Status']
df_species = df_species[keep_cols]

In [40]:
df_species = df_species.rename(columns={
    'FIA Code': 'spcd',
    'Common Name': 'common_name',
    'Genus': 'genus',
    'Species': 'species',
    'SCIENTIFIC_NAME': 'scientific_name',
    'List Status': 'list_status'
})

In [41]:
df_species.head()

,spcd,common_name,genus,species,scientific_name,list_status
0,11,Pacific silver fir,Abies,amabilis,Abies amabilis,ACTIVE
1,12,balsam fir,Abies,balsamea,Abies balsamea,ACTIVE
2,14,Santa Lucia or bristlecone fir,Abies,bracteata,Abies bracteata,ACTIVE
3,15,white fir,Abies,concolor,Abies concolor,ACTIVE
4,16,Fraser fir,Abies,fraseri,Abies fraseri,ACTIVE

In [43]:
engine = create_engine('postgresql://kellen@localhost:5432/forestry_research')

In [44]:
df_species.to_sql('species_list', engine, schema='raw_data', if_exists='append', index=False)

272